body{
	background:#e9e8e8;
	margin: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
	font-family:Calibri;
	width:100%;
}
	
.role {
	display: block;
}

.top-bar-socials {
	width: 100%;
	background-color: #FFFFFF;
	border: 1px solid #C7C7C7;
	display: block;
	position: relative;	
}
.container-topbar {
	width: 990px;
	height:35px;
	margin-right: auto;
	margin-left: auto;
}
.top-bar-contato {
	width: 350px;
	height: 35px;
	float: left;
	color: #CB0205;
	padding: 8px;
}
.right{
	width: 400px;
	height: 35px;
	float: right;
	
}

.top-bar-sociais li{
	border-left: 1px solid rgba(0,0,0, 0.05);
	float: right;
	height: 35px;
	line-height: 35px;
	list-style: outside none none;
	text-align: center;
	width: 35px;
	position: relative;
	font-size:22px;
	
}

.menu-gray {
	background-color:#f4f4f4;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	border-bottom: 1px solid #FFFFFF;
	height: 90px;
}

.container-menu {
	width: 990px;
	height: 90px;
	margin-right: auto;
	margin-left: auto;
}
.logo {
	width: 200px;
	height: 68px;
	float: left;
	clear: left;
}

*, *:before, *:after {
    box-sizing: border-box;
}

div, span, applet, object, iframe, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,  ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,   legend,  caption, tbody, tfoot, thead, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
header h2 {
margin: 25px 10px;
font-size: 28px;
text-align: center;
color: cornsilk;
}
.container {
	margin: 10px auto;
	display: table;
	width: 990px;
}
/*.container:after, .container:before {
	content: "" clear : both;
}*/
nav.menu {
	position: relative;
	min-height: 35px;
	height: 100%;
	z-index:9999;
	
}

.menu > ul > li {
	list-style: none;
	display: inline-block;
	color: #fff;
	line-height: 45px;
	
}
.menu > ul li a, .xs-menu li a {
	text-decoration: none;
	 color: #c50e1e;
	 display:block;
	 padding: 21px 7px;
}
.menu > ul li a:hover {
	background:#e2e2e2;
	padding: 21px 7px;
	color:#c50e1e;
	transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
}

.displaynone{
	display: none;
	border:1px solid #F4F3F3;
}
.xs-menu-cont{
display:block;
border:1px solid #F4F3F3;
}
.xs-menu-cont > a {
    background: none repeat scroll 0 0 ;
    border-radius: 3px;
    padding: 3px 6px;
	display: block;
	border-bottom:1px solid #E67248;
    box-shadow: 0 1px 2px #e67248;
	-webkit-box-shadow: 0 1px 2px #e67248;
	-moz-box-shadow: 0 1px 2px #e67248;
}
.xs-menu-cont > a:hover{
 cursor: pointer;
}
  
.xs-menu li {
color: #fff;
padding: 14px 30px;
border-bottom: 1px solid #ccc;
background: #FF7F50;

}
.xs-menu  a{
text-decoration:none;
}

.mega-menu {
    background: none repeat scroll 0 0 #ffffff;
    left: 0;
    margin-top: 1px;
    position: absolute;
    width: 100%;
	padding:15px;
	display:none;
	transition-duration: 0.9s;
	clear:both;
}

#menutoggle i {
    color: #fff;
    font-size: 33px;
    margin: 0;
    padding: 0;
}


/*--column--*/

.mm-6column:after, .mm-6column:before, .mm-3column:after, .mm-3column:before{
content:"";
display:table;
clear:both;


}
.mm-6column, .mm-3column {
 float: left;
 position: relative;

 }
.mm-6column {
    width: 25%;
}
.mm-3column {
     width: 30%;
	 font-size:15px;
}

.but-car {
	top:60px;
	position:relative;
	width:710px;
	display:table;
	
}

.container-but {
	z-index:9999;
	position:relative;
	width:354px;
	float:left;

}


.responsive-img {
    display: block;
    max-width: 100%;

}
.right-images{
 position:relative;
 left:40%;
 z-index:1;
 
}

 .right-images, .left-categories-list {
   float:right;
 
}
.categories-list li {
    display: block;
    line-height: normal;
    margin: 0;
    padding: 5px 0;
	color:#BEBEBE;

}
.categories-list li :hover{
		background:inherit !important;
}
.right-images > p {
    background: none repeat scroll 0 0 #ff7f50;
    display: block;
    font-size: 14px;
    line-height: normal;
    margin: 0;
    padding: 5px 14px;
	top:-27px;
}
.categories-list span {
    font-size: 16px;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.bold{
	font-size:26px;
	color:#c50e1e;		
}


.mm-view-more{
	color:#FFFFFF;
	background: none repeat scroll 0 0 #ec528d;
    display: inline !important;
    line-height: normal;
    padding: 15px 90px !important;
	margin-top:10px;
	margin: 0 auto;
	border-radius:6px;
    background-image: linear-gradient(bottom, rgb(214,53,67) 0%, rgb(214,53,67) 100%);
    background-image: -o-linear-gradient(bottom, rgb(214,53,67) 0%, rgb(214,53,67) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(214,53,67) 0%, rgb(214,53,67) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(214,53,67) 0%, rgb(214,53,67) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(73,132,180) 0%, rgb(214,53,67) 100%);
	-webkit-box-shadow:    0 3px 0 #952013, 0 5px 10px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 3px 0 #952013, 0 5px 10px rgba(0, 0, 0, .3);
    box-shadow: 0 3px 0 #c952013, 0 5px 10px rgba(0, 0, 0, .3);
    transition: box-shadow .1s ease-in-out;
}


.display-on{
display:block;
 transition-duration: 0.9s;
}

.drop-down > a:after{
/*content:"\f103";*/
color:#fff;
font-family: FontAwesome;
font-style: normal;
margin-left: 5px;
 
}
 

/*Animation--*/

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}
	
/****acaba menu****/

/*** aqui começa o site***/

#main {
	width: 100%;
	position:relative;
	z-index:1;
	
}

.main-content {
	width: 990px;
	display:table;
	position: relative;
	margin-right: auto;
	margin-left: auto;
}
.line {
	width: 990px;
	position: relative;
	top:20px;
}

h2.headline, .h2.headline{
	color: #d63543;
	border-left: 7px solid #d63543;
	font-size: 23px;
	height:44px;
	padding:9px;

}

/******aqui começa os mini carros******/

.item-dealers {
	width: 300px;
	height: 409px;
	float: left;
	clear: left;
}


.item-container-dealers{
	width: 279px;
	height: 201px;
	position: relative;
	
}
.container-dealers{
	width: 279px;
	height: 201px;
	margin: 0 auto;
}

.item-dealers-name {
	width: 279px;
	position: relative;
	color:#d30b38;
	text-align:center;
	font-size:27px;
	font-weight:bold !important;
}

.item-dealers-price {
	width: 279px;
	position: relative;
	color:#d30b38;
	text-align:center;
	font-size:27px;
	font-weight:bold !important;
	letter-spacing:1px;
	line-height:25px;
}

.item-fuel-age {
	width: 279px;
	height:40px;
	position: relative;
	color:#818181;
	text-align:center;
	font-size:16px;
	letter-spacing:1px;
	line-height:18px;
}


.item-container-buttons-dealers{
	width: 279px;
	position: relative;
	text-align:center;
	margin:8px 0 0 0 ;	
}

#item-delears-button {
    display: inline-block;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow:    0 3px 0 #952013, 0 5px 10px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 3px 0 #952013, 0 5px 10px rgba(0, 0, 0, .3);
    box-shadow: 0 3px 0 #c952013, 0 5px 10px rgba(0, 0, 0, .3);
    transition: box-shadow .1s ease-in-out;
    font-size: 16px;
    color: #fff;
	outline:none;
}

#item-delears-button span {
    display: inline-block;
    padding: 12px 30px;
    background-color: #ec528d;
    background-image: linear-gradient(bottom, rgb(214,53,67) 0%, rgb(214,53,67) 100%);
	background-image: -o-linear-gradient(bottom, rgb(214,53,67) 0%, rgb(214,53,67) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(214,53,67) 0%, rgb(214,53,67) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(214,53,67) 0%, rgb(214,53,67) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(73,132,180) 0%, rgb(214,53,67) 100%);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    line-height: 1;
    -webkit-transition: background-color .2s ease-in-out, -webkit-transform .1s ease-in-out;
    -moz-transition: background-color .2s ease-in-out, -moz-transform .1s ease-in-out;
    -o-transition: background-color .2s ease-in-out, -o-transform .1s ease-in-out;
    transition: background-color .2s ease-in-out, transform .1s ease-in-out;
	 outline:none;
}

#item-delears-button:hover span {
    background-color: #d63543;
	 outline:none;
   
}

#item-delears-button:active, #item-delaers-button:focus {
    -webkit-box-shadow:    0 2px 0 #d63543, 0 12px 10px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 2px 0 #d63543, 0 12px 10px rgba(0, 0, 0, .3);
    box-shadow:    0 2px 0 #d63543, 0 12px 10px rgba(0, 0, 0, .3);
	 outline:none;
}

#item-delears-button:active span {
    -webkit-transform: translate(0, 4px);
    -moz-transform: translate(0, 4px);
    -o-transform: translate(0, 4px);
    transform: translate(0, 4px);
	 outline:none;	 
}


.item-container-buttons-proposta{
	width: 279px;
	position: relative;
	text-align:center;
	margin:0  50px 0 0;
	clear:both;
	top:75px;	
}

/******aqui acaba os mini carros******/


/******aqui começa o consorcio carros******/

.main-line-consorcio {
	width: 990px;
	position: relative;
	margin-right: auto;
	margin-left: auto;	
}

/******aqui acaba consorcio carros******/

/******aqui começa o serviço******/

.main-line-servico {
	width: 990px;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	display:table;
	
}

.main-block-servico{
	float: left;
	width: 470px;
	margin: 0 13px 0 0;	
}

.main-block-1{
	background-image:url(../img/img-service-on.png);
	width:470px;
	height:247px;
}

.main-block-2{
	background-image:url(../img/img-service-tw.png);
	width:470px;
	height:247px;
}

.main-block-express-service{
	width:990px;
	position:relative;
	top:13px;		
}
/******aqui acaba serviço******/

/******aqui começa enderço******/


.tabs-adress {
	width:950px;
	height:360px;
	position:relative;
	margin-left:0;
	margin-right:0;
	display:table;
	clear:both;
}
.tab{position:relative;}
.tab-painel{display:inline-block;min-height:150px;}
.tab-painel .tab-open{position:absolute;width:1px;height:1px;margin:-1px;padding:0;overflow:hidden;clip:rect(0,0,0,0);border:0;}
.tab-nav{cursor:pointer;font-size:18px; font-weight:bold; display:inline-block;padding:12px; width:473px; border-left: 5px solid #c0c0c0; background-color:#FFFFFF; color:#c0c0c0; outline: none;}
.tab-open,.tab-nav:hover,.tab-open:checked ~ .tab-nav{background-color:#eaeaea; border-left: 5px solid #A50002; background-color:#FFFFFF; color:#e93049; outline: none;}
.tab-inner{opacity:0;margin-top:20px;position:absolute;left:0;transition:opacity .1s;visibility:hidden;}
.tab-open:focus:checked ~ .tab-nav{outline:thin dotted}
.tab-open:checked ~ .tab-inner{opacity:100;visibility:visible;transition:opacity .6 ease;}
.container-block-tabs{
	width:950px;
	height:400px;
	position:relative;
	display:table;
	clear:both;
}
.block-tabs{
	position:relative;
	float:left;
	clear:right;
		
}
.img-border{
	border:7px solid #dddddd;
}

.line-block-tabs {
	width:600px;
	padding-left:10px;
	position:relative;
	display:table;
}

.text-line-block{
	font-size:40px;
	font-weight:bold;
	color:#ea0d2f;
	display:table;
}

.icon-img{
	float:left;
	clear:left;
}
.icon-adress {
	padding:10px;
	font-size:14px;
	color:#ea0d2f;
	font-weight:bold;
	
}
/******aqui acaba enderço******/

/********fim css home*******/

/*****sub paginas******/

.sub-banners {
	width:100%;
	position:relative;
	z-index:1 !important;
}

/******aqui começa carros*/
.banner-cars{
	position:relative;
	width:1555px;
	margin-right: auto;
	margin-left: auto;	
}

.models-cars {
	position: relative;
	padding:10px;
	width: 990px;
	display: table;
	clear: both;
	margin-right: auto;
	margin-left: auto;
}

.container-models{
	width:950px;
	display:table;
	margin-right: auto;
	margin-left: auto;
	position:relative;
	clear:both;
	
}

.models-car-left{
	width:250px;
	float:left;
	clear:both;
	position:relative;
}

.container-models-left{
	width:120px;
	clear:both;
	padding:15px;
	position:relative;
}

.models-left-model{
	width: 250px;
	padding:10px;
	border: 1px dashed #d30b39;
	margin: 0 auto;
	font-size:28px;
	text-align:center;
	font-weight:bold;
	color:#a4052b;
	position:relative;
	top:40px;
	clear:both;
}

.models-left-prices{
	width: 250px;
	padding:13px;
	background-color:#d63544;
	position:relative;
	top:50px;
	border-radius:5px;
	font-size:30px;
	text-align:center;
	color:#FFFFFF;
	font-weight:bold;
	box-shadow: 0px 4px 1px #961320 ;
}

.models-car-right{
	width:661px;
	float:right;
	position:relative;
	top:-50px;
}

.model-mudar-cor{
	width: 250px;
	position:relative;
	display:table;
	top:65px;
	padding:5px 0 5px 0 ;
	clear:both;
}

.muda-cor{
	float:right;
	
}

.others-models{
	position:relative;
	width:980px;
	height:170px;
	margin: 0 auto;
	clear:both;
	top:-55px;

}

.container-others-models{
	position:relative;
	width:980px;
	margin:0 auto;
	clear:both;
}

.headline-other-models{
	width: 950px;
	background-color: inherit;
	display:table;
	color:#CD0003;
	font-style:italic;
	font-size:15px;
	font-weight:bold;
	text-transform: uppercase;
	border-bottom: 1px solid rgba(191,191,191,0.35);

}

.other-model{
	position:relative;
	width:220px;
	height:220px;
	border:1px dashed #949494;
	top:10px;
	float:left;
	margin:0 23px 0 0 ;

}

.img-other-model{
	width:200px;
	margin: 0 auto;		
}

.other-name-model{
	width:180px;
	height:40px;
	margin: 0 auto;
	color:#FFFFFF;
	text-align:center;	
}

.headline-other-dealers{
	position:relative;
	width:100%;
	border-top:1px solid #c0bebf;
	border-bottom:1px solid #c0bebf;	
	top:20px;
}

.headline-container-other-dealers{
	width:980px;
	padding:10px;
	color:#c60c35;
	font-size:20px;
	font-style:italic;
	margin: 0 auto;
	
}

.other-dealers {
	width:980px;
	margin:0 auto;
}


.model-img{
	width: 980px;
	position: relative;
	margin: 0 auto;
	top:-17px;
	clear:both;
}

.model-container-img{
	width:950px;
	position:relative;
	display:table;
}

.mc-colunn-img{
	width:470px;
	float:left;
}

.mc-colunn2-img{
	width:470px;
	height:272px;
	float:right;

}

.model-video {
	width:980px;
	position:relative;
	margin: 0 auto;
	top:-13px;
}

.model-video-container{
	width:950px;
	position:relative;
	
}

.model-tecnica {
	width:980px;
	margin: 0 auto;
	position:relative;
	/*top:-64px*/
}


.container-model-tecnica {
	width:950px;
	position:relative;

}

.table-legenda{
	border-top:1px dashed #7b7b7b;
	border-left:1px dashed #7b7b7b;
	border-right:1px dashed #7b7b7b;
	border-bottom:1px dashed #7b7b7b;
}

.table-legenda2{
	font-size:18px;
	color:#878585;
	font-style: italic;
}

.table-legenda-sub{
	border-left:1px dashed #7b7b7b;
	border-right:1px dashed #7b7b7b;
	border-bottom:1px dashed #7b7b7b;
}

.td-table-legenda{
	border-right:1px dashed #7b7b7b;
	text-align:center;
	width:50px;
	padding:8px;
	font-weight:bold;
	font-size:15px;
	color:#787878;
}

.td-table-sub{
	border-right:1px dashed #7b7b7b;
	text-align:center;
	width:317px;
	padding:8px;
	font-weight:bold;
	font-size:15px;
	color:#BE0003;
}
	
.td-table-sub2{
	border-right:1px dashed #7b7b7b;
	text-align:left;
	width:200px;
	padding:7px;
	font-size:14px;
	color:#030303;
}

.td-table-subs2{
	border-right:1px dashed #7b7b7b;
	text-align:center;
	width:200px;
	padding:7px;
	font-size:14px;
	color:#030303;
}

.td-table-negativo{
	border-right:1px dashed #7b7b7b;
	text-align:center;
	width:200px;
	padding:8px;
	font-weight:bold;
	font-size:22px;
	color:#FF0004;
}

.td-table-positivo{
	border-right:1px dashed #7b7b7b;
	text-align:center;
	width:200px;
	padding:8px ;
	font-weight:bold;
	font-size:22px;
	color:#098036;
}
	

/*******aqui acaba carros*****/

/*******form car************/

.form-car{
	width:100%;
	position:relative;
	border:1px solid #d6d6d6;
	top:-17px;
	clear:both;	
}


.container-form{
	width:420px;
	margin:0 auto;
	display:table;
}

.colunn-form-car{
	width:420px;
	float:left;
	display:table;
}

.colunn2-form-car{
	width:450px;
	float:right;
}

.contact-content-colunn2{
	position:relative;
	display:table;
	background-color:#e9e7e8;
	width:420px;
	height:80px;
	border:1px solid #D5D5D5;
	border-radius:5px;
	top:14px;
	margin-bottom:5px;
	/*margin:6px;*/		
}

.content-colunn2{
	width:400px;
	display:table;	
}

.icon-content-colunn2{
	background-color:#fe0000;
	width:110px;
	height:80px;
	float:left;
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
	padding:10px 0 0 34px;
}

.text-colunn2{
	font-size:14px;
	width:180px;
	float:left;
	text-align:center;
	font-style:italic;
	padding:15px 0  0 10px;
}

.button-collun2{
	width:100px;	
	float:left;
	padding:15px 0  0 10px;
}

.car{
	float:left;
	
	
}

.form-group2-car{
	display:table;
	width:420px;	
}

.form-group-car{
	display:table;
	width:460px;	
}

.form-control-name{
	width:420px;
	border:1px solid #BBBBBB;
	background-color:#FFFFFF;
	font-style:italic;
	color:#909090;	
}

.form-control-ddd{
	width:100px;
	border:1px solid #BBBBBB;
	background-color:#FFFFFF;
	font-style:italic;
	color:#5c5c5c;
	float:left;
}

.form-control-tel{
	width:129px;
	border:1px solid #BBBBBB;
	background-color:#FFFFFF;
	font-style:italic;
	color:#5c5c5c;
	float:left;
	margin-left:6px;
}


   
.selecione {
    font-size: 14px;
    color: #fff;
	margin:10px;
	
}

select {
	width:179px;
    display: inline-block;
    height: 37px;
    line-height: 28px;
    border: 1px solid #aaa;
    color: #555;
	margin-left:6px;
}


textarea{
	background-color:#F8F8F8;
	width:419px;
	height:150px;
	border: 1px solid #BBBBBB;
	
	 
}

.form-banner-container{
	width:420px;
}
	
/*******fim-form-car************/


/******página-de-seminovos********/
.b-infoBar {
	width:100%;
	position:relative;
	background-color:#dbdbdb;
	border-top:1px solid #FFFFFF;
	border-bottom:1px solid #FFFFFF;
}


.b-container-infoBar {
	width:980px;
	padding:10px;
	margin:0 auto;
	display:table;
	position:relative;
	background-color:#dbdbdb;
}

.b-infoBar-order{
	float:left;
	color:#858585;			
}

.b-infoBar-text{
	margin-top:12px;		
}


.selecione-infoBar {
    font-size: 14px;
    color: #fff;
	margin:2px;
	
}

.select-infoBar {
	width:200px;
	/*width:150px;*/
    display: inline-block;
    height: 37px;
    line-height: 28px;
    border: 1px solid #aaa;
    color: #555;
	margin-left:6px;
}


.select-num-infoBar {
	width:90px;
    display: inline-block;
    height: 37px;
    line-height: 28px;
    border: 1px solid #aaa;
    color: #555;
	margin-left:6px;
}

.container-itens-dealers{
	float:left;
	width:990px;
	display:table;
	clear:both;
}

.container-b-items-aside{
	float:left;
	width:300px;
	position:relative;
	top:5px;
}

.b-items-text-aside{
	margin:0 auto;
	width:270px;
	font-size:28px;
	text-align:center;
	color:#D00003;
	border-left:6px solid #d2070c;
	border-right:6px solid #d2070c;

}

.b-items-aside{
	margin:0 auto;
	width:280px;
	background-color:#e1e1e1;
	position:relative;
	top:8px;
	clear:both;

}


.b-items-aside-footer{
    margin: 0 auto;
    width: 280px;
    background-color: #cfcfcf;
	position: relative;
    top: 8px;
    clear: both;
	

}


.b-items-txt-drop{
	margin:0 auto;
	width:250px;
	text-align:left;
	color:#747474;
	font-size:16px;
	padding:15px 0 0 0 ;

}

.select-b-items {
	width:250px;
    display: inline-block;
    height: 37px;
    line-height: 28px;
    color: #555;
	margin-left:6px;
}

.select-b-items-km {
	width:120px;
    display: inline-block;
    height: 37px;
    line-height: 28px;
    color: #555;
	margin-left:6px;
}

.selecione-b-items {
    font-size: 14px;
    color: #fff;
	margin:2px;
	
}

.button-filtrar{
	width:260px;
	margin: 0 auto;
	padding:29px 0 10px 5px;
	
}

.button-limpar{
	width:200px;
	text-align:center;
	color:#7e7e7e;
	margin:0 auto;
	padding:10px 0 10px 2px;
	
}

#item-filter-button {
    display: inline-block;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow:    0 3px 0 #952013, 0 5px 10px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 3px 0 #952013, 0 5px 10px rgba(0, 0, 0, .3);
    box-shadow: 0 3px 0 #c952013, 0 5px 10px rgba(0, 0, 0, .3);
    transition: box-shadow .1s ease-in-out;
    font-size: 16px;
    color: #fff;
	outline:none;
}

#item-filter-button span {
    display: inline-block;
    padding: 17px 62px;
    background-color: #ec528d;
    background-image: linear-gradient(bottom, rgb(214,53,67) 0%, rgb(214,53,67) 100%);
	background-image: -o-linear-gradient(bottom, rgb(214,53,67) 0%, rgb(214,53,67) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(214,53,67) 0%, rgb(214,53,67) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(214,53,67) 0%, rgb(214,53,67) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(73,132,180) 0%, rgb(214,53,67) 100%);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    line-height: 1;
    -webkit-transition: background-color .2s ease-in-out, -webkit-transform .1s ease-in-out;
    -moz-transition: background-color .2s ease-in-out, -moz-transform .1s ease-in-out;
    -o-transition: background-color .2s ease-in-out, -o-transform .1s ease-in-out;
    transition: background-color .2s ease-in-out, transform .1s ease-in-out;
	 outline:none;
}

#item-filter-button:hover span {
    background-color: #d63543;
	 outline:none;
   
}

#item-filter-button:active, #item-filter-button:focus {
    -webkit-box-shadow:    0 2px 0 #d63543, 0 12px 10px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 2px 0 #d63543, 0 12px 10px rgba(0, 0, 0, .3);
    box-shadow:    0 2px 0 #d63543, 0 12px 10px rgba(0, 0, 0, .3);
	 outline:none;
}

#item-filter-button:active span {
    -webkit-transform: translate(0, 4px);
    -moz-transform: translate(0, 4px);
    -o-transform: translate(0, 4px);
    transform: translate(0, 4px);
	 outline:none;	 
}

/******seminovo-check-box********/
.checkbox-b-items{
	padding: 0 0 0  10px ;	
	
}

label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 25px;
	margin-right: 15px;
	font-size: 13px;
	color:#747474;
}

input[type=checkbox] {
	display: none;
}

label:before {
	content: "";
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 10px;
	position: absolute;
	left: 0;
	bottom: 1px;
	background-color: #aaa;
	box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}

.radio label:before {
	border-radius: 8px;
}
.checkbox label {
	margin-bottom: 10px;
}
.checkbox label:before {
    border-radius: 3px;
}


input[type=checkbox]:checked + label:before {
	content: "\2713";
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
	font-size: 15px;
	color: #f3f3f3;
	text-align: center;
    line-height: 15px;
}

.container-items-c-aside{
	float:right;
	width:690px;
    position:relative;
	top:5px;
	border:1px solid #FF000;
}


.container-dealaers-ads{
	width:690px;
	border:1px solid #FFFFFF;
	display:table;
	margin-bottom:8px;
	padding: 10px;	
}

.ads-dealers{
	width:300px;
	float:left;
	padding:12px;
	display:table;
		
}

.ads-colunn1-dealers{
	width:300px;
	display:	block;
	position:relative;
	top:-5px;
}

.container-ads-name-dealers{
	width:300px;
	display:block;
}

.ads-name-dealers{
	border-left: 6px solid #d2070c;
	font-size:20px;
	color:#939393;
	padding:8px;
}

.ads-subname-dealers{
	font-size:12px;
	color:#939393;
	padding:8px;
	position:relative;
	top:-15px;
	left:8px;
}

.container-ads-functions{
	width:300px;
	display:table;
	position:relative;
	top:-6px;
}
.ads-icons{
	padding:8px;
	float:left;
	color:#8c8c8c;
	text-align:center;
	font-size:20px;

}
.ads-text-name{
	width:57px;
	padding:5px;
	line-height:13px;
	float:left;
	color:#5b5b5b;
}

.ads-interest{
	width:317px;
	position:relative;
	display:table;
	
}

.ads-button{
	height:40px;
	float:left;
	margin: 0 9px 0 0;
	
}

.button-ads{
	padding: 7px 38px;
	background-color:#d9d9d9;
	box-shadow: 0px 2px 1px #bbbbbb;
	border-radius:5px;
	color:#A3A3A3;
	text-decoration:none;
	position:relative;
	font-size:12px;
	top:5px;	
}

.button-ads:hover{
	padding: 7px 38px;
	background-color:#d63543;
	box-shadow: 0px 2px 1px #9d0709;
	border-radius:5px;
	text-decoration:none;
	color:#FFFFFF;
	position:relative;
	font-size:12px;
	top:5px;	
}

.contact-ads{
	width:300px;
	display:table;
	position:relative;
	display:table;
	top:8px;
}

.contact-ads-socials{
	width:150px;
	float:left;
	display:table;
}

.contact-ads-icons{
	float:left;
	color:#8c8c8c;
	text-align:center;
	font-size:21px;

}

.contact-ads-text{
	width:120px;
	line-height:25px;
	float:right;
	color:#5b5b5b;
}


.ads-dealers2{
	width:120px;
	float:left;
	display:table;	
}

.ads-colunn2-dealers{
	width:150px;
	display:	block;
	position:relative;
}

.ads-price-dealers{
	width:150px;
	font-size:25px;
	font-weight:bold;
	float:left;
	color:#c40818;
	position:relative;
	margin:20px 0 0 0;
	
}

.ads-add-dealers{
	width:150px;
	font-size:14px;
	font-weight:bold;
	float:left;
	color:#939393;
	position:relative; 
	margin:20px 0 0 0;

}

.ads-punct-dealers{
	width:150px;
	font-size:18px;
	font-weight:bold;
	float:left;
	color:#939393;
	position:relative;
	display:table;
	margin:20px 0 0 0;

}

.ads-star{
	width:27px;
	float:left
}

.ads-dealers3{
	width:193px;
	height:193px;
	float:left;
		
}


/******fim-seminovo-check-box********/

/******fim-página-de-seminovos********/


.paginate-dealaers-ads{
	width:690px;
	clear:both;	
}


/********seminovo******/

.infobarCAR{
	width:150px;
	display:table;
	float:left;
    border-right: 1px solid #FFFFFF;
	margin: 0 15px 0 0;
}


.infobar-ICON{
	width:30px;
	float:left;
	color:#d63544
}
	
	
.infobar-text{
	width:100px;
	float:left;
	font-size:14px;
	color:#c50e1e;
}

.infobarCAR-bside{
	width:150px; 
	display:table;
	float:right;
	margin: 0 15px 0 0;
}

.infobar-text-bside{
	width:120px;
	float:right;
	font-size:14px;
	color:#c50e1e;
}

	
.container-dealing{
    width: 660px;
	position:relative;
	top:5px;
	float:left;
	clear:both;
}

.container-dealing-bside{
	width:330px;
	position:relative;
	top:5px;
	float:right;
}


.headline-dealing{
	float:left;
	padding:10px;
	border-left: 6px solid #d2070c;
	font-size:35px;
	color:#878787;
	
}


.carrousel-dealing{
	width:690px;
	margin:95px 0 0 0; 
}


.dealing-info{
	width:648px;
	position:relative;
	clear:both;
	float:left;
}


.table-dealing{
	width:648px;
	background-color:#FFFFFF;
	float:left;
	margin-top:10px;
}

.td-dealing{
	text-align:center;
	padding:30px;
	border-right: 1px solid #e9e9e9;
	font-size:14px;
	color:#5d5d5d;	
}

.table-dealing2{
	width:648px;
	background-color:#FFFFFF;
	border:1px solid #e8e7e7;
	float:left;
	
}

.td-dealing2{
	text-align:center;
	padding:3px;
	font-size:14px;
	color:#5d5d5d;
	width:135px;
}

.dealing-container-infos{
	width:648px;
	position:relative;
	clear:both;
	margin:20px 0 0 0;
}

.headline-subinfo{
	width:648px;
	color:#871111;
	font-size:20px;
	font-style:italic;
	padding:15px 0 0 0 ;
}

.headline-subinfo2{
	border-left:5px solid #aa101c;
	width:648px;
	padding:6px;
	color:#aa101c;
	font-size:18px;
	margin-top:10px;
}

.container-dealing-txt{
	width:648px;
	padding:6px;
	color:#747474;	
}
.container-dealing-img{
	width:648px;
	padding:6px;
}

.price-dealing{
	width:328px;
	color:#FFFFFF;
	font-size:45px;
	text-align:center;
	background-color:#d63544;
	border-radius:5px;
	padding:2px;
	box-shadow: 0px 4px 1px #961320;
}

/*****fim-de-dealers****/

/******features*******/

.feature-dealing{
	width:330px;
	display:table;
	border:1px solid #2F0000;
	
}

.headline-feature{
  border-left: 6px solid #d2070c;
  color:#878787;
  position:relative;
  margin:20px 0 0 0;
  padding:10px;
  clear:both;
  font-size:18px;
	
	
}

.container-feature{
	width:328px;
	display:table;
	clear:both;
	margin:10px 0 0 0 ;
}

.tdfeatures-gray{
	width:156px;
	border-left: 3px solid #929292;
	float:left;
	padding:6px;	
	margin-bottom:11px;
	color:#878787;
	
}

.tdfeatures-red{
	width:156px;
	border-left: 3px solid #aa101c;
	float:left;
	padding:6px;	
	margin-bottom:11px;
	color:#878787;
	
}

.features-form{
	width:328px;
	position:relative;
	top:20px;
}

.contact-form-features{
	width:328px;
	display:table;
}

.features-phone-icon{
	background-color:#d63544;
	float:left;
	padding:25px 15px 15px 15px;
	font-size:70px;
	color:#ffffff;
	
}

.features-txt-phone{
	background-color:#94252f;
	float:left;
	font-size:26px;
	padding:36px;
	height:126px;
	color:#ffffff;	
}

.features-txt-subphone{
	float:left;
	font-size:35px;
	text-align:center;
}

.span-phone{
	font-size:16px;
	position:relative;
	top:-10px;
}


.headline-feature-form{
  color:#94252f;
  position:relative;
  margin:10px 0 0 0;
  padding:10px;
  clear:both;
  font-size:28px;
  text-align:center;
  font-weight:bold;
	
}

.container-form-feature{
	width:326px;
	margin:0 auto;
	background-color:#dddddd;
	
}


.form-feateurs{
	width:325px;
	padding:10px;

}

.form-features-car{
	display:table;
	width:300px;	
}


.form-features2-car{
	display:table;
	padding:11px;
	width:250px;	

}


.form-control-features{
	width:280px;
	border:1px solid #BBBBBB;
	background-color:#FFFFFF;
	font-style:italic;
	color:#909090;	
}

textarea.features{
	background-color:#F8F8F8;
	width:280px;
	height:150px;
	border: 1px solid #BBBBBB;
	margin:0 auto;		 
}


#item-features-button {
    display: inline-block;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow:    0 3px 0 #952013, 0 5px 10px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 3px 0 #952013, 0 5px 10px rgba(0, 0, 0, .3);
    box-shadow: 0 3px 0 #c952013, 0 5px 10px rgba(0, 0, 0, .3);
    transition: box-shadow .1s ease-in-out;
    font-size: 16px;
    color: #fff;
	outline:none;
}

#item-features-button span {
    display: inline-block;
    padding: 12px 80px;
    background-color: #ec528d;
    background-image: linear-gradient(bottom, rgb(214,53,67) 0%, rgb(214,53,67) 100%);
	background-image: -o-linear-gradient(bottom, rgb(214,53,67) 0%, rgb(214,53,67) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(214,53,67) 0%, rgb(214,53,67) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(214,53,67) 0%, rgb(214,53,67) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(73,132,180) 0%, rgb(214,53,67) 100%);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    line-height: 1;
    -webkit-transition: background-color .2s ease-in-out, -webkit-transform .1s ease-in-out;
    -moz-transition: background-color .2s ease-in-out, -moz-transform .1s ease-in-out;
    -o-transition: background-color .2s ease-in-out, -o-transform .1s ease-in-out;
    transition: background-color .2s ease-in-out, transform .1s ease-in-out;
	 outline:none;
}

#item-features-button:hover span {
    background-color: #d63543;
	 outline:none;
   
}

#item-features-button:active, #item-delaers-button:focus {
    -webkit-box-shadow:    0 2px 0 #d63543, 0 12px 10px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 2px 0 #d63543, 0 12px 10px rgba(0, 0, 0, .3);
    box-shadow:    0 2px 0 #d63543, 0 12px 10px rgba(0, 0, 0, .3);
	 outline:none;
}

#item-features-button:active span {
    -webkit-transform: translate(0, 4px);
    -moz-transform: translate(0, 4px);
    -o-transform: translate(0, 4px);
    transform: translate(0, 4px);
	 outline:none;	 
}


.item-container-button-features{
	width: 279px;
	margin:0 auto;
	position: relative;
	text-align:center;
	clear:both;	
}
/******fim-de-features*******/

/*****página-de-consórcio***/

.sub-banners-cons {
	width:100%;
	background:url(../img/banner-consorcio.png);
	width:1555px;
	height:531px;
	margin:0 auto;
	position:relative;
	z-index:1 !important;
}

.container-sub-banners-cons{
	width:990px;
	margin:0 auto;
	display:table;
	
}

.container-form-cons{
	background-color:#d9d9d9;
	width:462px;
	float:right;
	position:relative;
	margin: 60px 0 0 0;
    /*opacity:0.7;*/
}

.headline-cons{
	padding:10px;
	color:#c71726;
	font-size:22px;
	text-align:center;
}

.cons-form{
	width:440px;
	padding:10px  0 0 0;
	margin:0 auto;
	position:relative;
	display:table;
	margin-bottom:20px;
	
}

.container-button-form-cons{
	width:420px;
	margin:0 auto;
	display:table;		
}

.myButton {
	background-color:#fff;
	border:1px solid #e0e0e0;
	display:inline-block;
	cursor:pointer;
	color:#bb0808;
	font-family:Arial;
	font-size:13px;
	padding:8px 82px;
	text-decoration:none;
}
.myButton:hover {
	background-color:#bb0808;
	color:#ffffff;
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
     box-shadow: inset 0 0 10px #000000;
}
.myButton:active {
	position:relative;
	top:1px;
}

.credit-scroll{
	width:420px;
	padding:10px 0 0 0 ;
	margin:0 auto;
	color:#c30111;
	font-size:14px;

}


.form-control-cons{
	width:203px;
	background-color:#FFFFFF;
	font-style:italic;
	color:#909090;
	float:left;
	margin: 0 0 0 10px;	
}


.button-cons{
	width:400px;
	margin: 0 auto;
	padding:22px 0 10px 10px;
	
}


#item-consorcio-button {
    display: inline-block;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow:    0 3px 0 #952013, 0 5px 10px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 3px 0 #952013, 0 5px 10px rgba(0, 0, 0, .3);
    box-shadow: 0 3px 0 #c952013, 0 5px 10px rgba(0, 0, 0, .3);
    transition: box-shadow .1s ease-in-out;
    font-size: 16px;
    color: #fff;
	outline:none;
}

#item-consorcio-button span {
    display: inline-block;
    padding: 17px 150px;
    background-color: #ec528d;
    background-image: linear-gradient(bottom, rgb(214,53,67) 0%, rgb(214,53,67) 100%);
	background-image: -o-linear-gradient(bottom, rgb(214,53,67) 0%, rgb(214,53,67) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(214,53,67) 0%, rgb(214,53,67) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(214,53,67) 0%, rgb(214,53,67) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(73,132,180) 0%, rgb(214,53,67) 100%);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    line-height: 1;
    -webkit-transition: background-color .2s ease-in-out, -webkit-transform .1s ease-in-out;
    -moz-transition: background-color .2s ease-in-out, -moz-transform .1s ease-in-out;
    -o-transition: background-color .2s ease-in-out, -o-transform .1s ease-in-out;
    transition: background-color .2s ease-in-out, transform .1s ease-in-out;
	 outline:none;
}

#item-consorcio-button:hover span {
    background-color: #d63543;
	 outline:none;
   
}

#item-consorcio-button:active, #item-consorcio-button:focus {
    -webkit-box-shadow:    0 2px 0 #d63543, 0 12px 10px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 2px 0 #d63543, 0 12px 10px rgba(0, 0, 0, .3);
    box-shadow:    0 2px 0 #d63543, 0 12px 10px rgba(0, 0, 0, .3);
	 outline:none;
}

#item-consorcio-button:active span {
    -webkit-transform: translate(0, 4px);
    -moz-transform: translate(0, 4px);
    -o-transform: translate(0, 4px);
    transform: translate(0, 4px);
	 outline:none;	 
}


.item-cons-price {
	width: 279px;
	position: relative;
	color:#878787;
	text-align:center;
	font-size:19px;
	font-weight:bold !important;
	line-height:29px;
}

.span-cons{
	color:#d30b38;
	font-weight:bold;
	font-size:42px;
	
}

.item-service-cons{
	width:990px;
	position:relative;
}

.container-service-cons{
	width:990px;
	position:relative;
	display:table;

}

.item-service{
	width:170px;
	background-color:#d2d0d0;
    box-shadow: 0px 4px 1px #7c7979;
	border-radius:5px;
	float:left;
	margin:10px;
	padding:40px;
	font-size:10px;
	

}

.icon-service{
	font-size:50px;
	color:#7c7979;
	text-align:center;
	padding:5px;
	
}



/*****fim-página-de-consórcio***/


/****fim-sub-páginas*****/

/********aqui-comeca o footer**********/
.footer {
	width: 100%;
	height:600px;
	display: table;
	position: relative;
	background-color: #d63543;
	top: 40px;
	border-bottom: 7px solid #B70414;
}
.container-footer {
	width: 990px;
	margin:0 auto;
	position: relative;
	display:table;
	padding: 10px 5px 0 0;
}

.block-footer {
	width: 990px;
	position: relative;
	display: table;
}
.colunn-block-footer{
	width: 320px;
	float: left;
	clear: right;
	padding:2px;
}
.footer-headline {
	font-size:25px;
	color:#FFFFFF;
}

.footer-sub-headline {
	font-size:18px;
	color:#FFFFFF;
}
.footer-social-media {
	width: 310px;
	
}
.icon-footer-media{
	width:310px;
	display:table;
	position:relative;
    top:15px;		
}

.icon-footer{
	float:left;
	height:45px;
	color:#FFFFFF;
	padding:8px;
	font-size:22px;
}
	

/*******form-rodape*************/

form {
  background: none;
  margin: 10px auto 0;
  width: 310px;
}

input {
 background-color:#FFFFFF;
  display: block;
  font-size: 14px;
  width:310px;
  margin: 10px auto;
  padding: 10px 8px 8px 8px;
  border-radius: 6px;
  /*box-shadow: inset 0 1px 2px rgba(0,0,0, .55), 0px 1px 1px rgba(255,255,255,.5);*/
  border: 1px solid #bfbfbf;
  color:#6C6C6C;
}

input {
  /*opacity: 0.5;*/
}

input:hover,
input:focus {
  /*opacity: .7;*/
  color:#fff;
  border: 1px solid #08c;
   box-shadow: 0px 1px 0px rgba(255,255,255,.25),inset 0px 3px 6px rgba(0,0,0,.25);
   color:#6C6C6C;
}

input[type="text"]:focus,
input[type="password"]:focus {
  box-shadow: inset 0 1px 2px rgba(255,255,255, .35), 0px 1px 15px rgba(0,246,255,.5);
  border: 1px solid #08c;
  outline: none;
  color:#6C6C6C;
}

input[type="submit"] {
  appearance: none;
  opacity: .99;
  width:310px;
  background: #d63543;
  border: 1px solid #b70414;
  border-radius: 4px;
  /*olor: #fff;*/
  cursor: pointer;
  color:#6C6C6C;
}

input[type="submit"]:hover {
  background: #860c16;
  width:310px;
  border: 1px solid #b70414;
  border-radius: 3px;
  text-shadow:0px 1px 1px rgba(0,0,0,.65);
  -webkit-transition: all 0.40s ease-out;
  transition: all 0.40s ease-out;
  color:#6C6C6C;
}

.footer-copyright {
	position:relative;
	color:#FFFFFF;
	height:20px;
	font-size:14px;
	text-align:center;
	top:19px;
}

