body{
	background:#e9e8e8;
	margin: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
	font-family:Calibri;
	width:100%;
}
	
.role {
	display: block;
}

.top-bar-socials {
	width: 100%;
	background-color: #FFFFFF;
	border: 1px solid #C7C7C7;
	display: block;
	position: relative;	
}
.container-topbar {
	width: 990px;
	height:35px;
	margin-right: auto;
	margin-left: auto;
}
.top-bar-contato {
	width: 350px;
	height: 35px;
	float: left;
	color: #CB0205;
	padding: 8px;
}
.right{
	width: 400px;
	height: 35px;
	float: right;
	
}

.top-bar-sociais li{
	border-left: 1px solid rgba(0,0,0, 0.05);
	float: right;
	height: 35px;
	line-height: 35px;
	list-style: outside none none;
	text-align: center;
	width: 35px;
	position: relative;
	
}

.menu-gray {
	background-color:#f4f4f4;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	border-bottom: 1px solid #FFFFFF;
	height: 90px;
}

.container-menu {
	width: 990px;
	height: 90px;
	margin-right: auto;
	margin-left: auto;
}
.logo {
	width: 200px;
	height: 68px;
	float: left;
	clear: left;
}

*, *:before, *:after {
    box-sizing: border-box;
}

div, span, applet, object, iframe, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,  ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,   legend,  caption, tbody, tfoot, thead, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
header h2 {
margin: 25px 10px;
font-size: 28px;
text-align: center;
color: cornsilk;
}
.container {
	margin: 10px auto;
	display: table;
	width: 990px;
}
/*.container:after, .container:before {
	content: "" clear : both;
}*/
nav.menu {
	position: relative;
	min-height: 35px;
	height: 100%;
	z-index:9999;
	
}

.menu > ul > li {
	list-style: none;
	display: inline-block;
	color: #fff;
	line-height: 45px;
	
}
.menu > ul li a, .xs-menu li a {
	text-decoration: none;
	 color: #c50e1e;
	 display:block;
	 padding: 21px 7px;
}
.menu > ul li a:hover {
	background:#e2e2e2;
	padding: 21px 7px;
	color:#c50e1e;
	transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
}

.displaynone{
	display: none;
	border:1px solid #F4F3F3;
}
.xs-menu-cont{
display:block;
border:1px solid #F4F3F3;
}
.xs-menu-cont > a {
    background: none repeat scroll 0 0 ;
    border-radius: 3px;
    padding: 3px 6px;
	display: block;
	border-bottom:1px solid #E67248;
    box-shadow: 0 1px 2px #e67248;
	-webkit-box-shadow: 0 1px 2px #e67248;
	-moz-box-shadow: 0 1px 2px #e67248;
}
.xs-menu-cont > a:hover{
 cursor: pointer;
}
  
.xs-menu li {
color: #fff;
padding: 14px 30px;
border-bottom: 1px solid #ccc;
background: #FF7F50;

}
.xs-menu  a{
text-decoration:none;
}

.mega-menu {
    background: none repeat scroll 0 0 #ffffff;
    left: 0;
    margin-top: 1px;
    position: absolute;
    width: 100%;
	padding:15px;
	display:none;
	transition-duration: 0.9s;
	clear:both;
}

#menutoggle i {
    color: #fff;
    font-size: 33px;
    margin: 0;
    padding: 0;
}


/*--column--*/

.mm-6column:after, .mm-6column:before, .mm-3column:after, .mm-3column:before{
content:"";
display:table;
clear:both;


}
.mm-6column, .mm-3column {
 float: left;
 position: relative;

 }
.mm-6column {
    width: 25%;
}
.mm-3column {
     width: 30%;
	 font-size:15px;
}

.but-car {
	top:60px;
	position:relative;
	width:710px;
	display:table;
	
}

.container-but {
	z-index:9999;
	position:relative;
	width:354px;
	float:left;

}


.responsive-img {
    display: block;
    max-width: 100%;

}
.right-images{
 position:relative;
 left:40%;
 z-index:1;
 
}

 .right-images, .left-categories-list {
   float:right;
 
}
.categories-list li {
    display: block;
    line-height: normal;
    margin: 0;
    padding: 5px 0;
	color:#BEBEBE;

}
.categories-list li :hover{
		background:inherit !important;
}
.right-images > p {
    background: none repeat scroll 0 0 #ff7f50;
    display: block;
    font-size: 14px;
    line-height: normal;
    margin: 0;
    padding: 5px 14px;
	top:-27px;
}
.categories-list span {
    font-size: 16px;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.bold{
	font-size:26px;
	color:#c50e1e;		
}


.mm-view-more{
	color:#FFFFFF;
	background: none repeat scroll 0 0 #ec528d;
    display: inline !important;
    line-height: normal;
    padding: 15px 90px !important;
	margin-top:10px;
	margin: 0 auto;
	border-radius:6px;
    background-image: linear-gradient(bottom, rgb(214,53,67) 0%, rgb(214,53,67) 100%);
    background-image: -o-linear-gradient(bottom, rgb(214,53,67) 0%, rgb(214,53,67) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(214,53,67) 0%, rgb(214,53,67) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(214,53,67) 0%, rgb(214,53,67) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(73,132,180) 0%, rgb(214,53,67) 100%);
	-webkit-box-shadow:    0 3px 0 #952013, 0 5px 10px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 3px 0 #952013, 0 5px 10px rgba(0, 0, 0, .3);
    box-shadow: 0 3px 0 #c952013, 0 5px 10px rgba(0, 0, 0, .3);
    transition: box-shadow .1s ease-in-out;
}


.display-on{
display:block;
 transition-duration: 0.9s;
}

.drop-down > a:after{
/*content:"\f103";*/
color:#fff;
font-family: FontAwesome;
font-style: normal;
margin-left: 5px;
 
}
 

/*Animation--*/

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}
	
/****acaba menu****/

/*** aqui começa o site***/

#main {
	width: 100%;
	position:relative;
	z-index:1;
	
}

.main-content {
	width: 990px;
	display:table;
	position: relative;
	margin-right: auto;
	margin-left: auto;
}
.line {
	width: 990px;
	position: relative;
	top:20px;
}

h2.headline, .h2.headline{
	color: #d63543;
	border-left: 7px solid #d63543;
	font-size: 23px;
	height:44px;
	padding:9px;

}

/******aqui começa os mini carros******/

.item-dealers {
	width: 300px;
	height: 409px;
	float: left;
	clear: left;
}


.item-container-dealers{
	width: 279px;
	height: 201px;
	position: relative;
	
}
.container-dealers{
	width: 279px;
	height: 201px;
	margin: 0 auto;
}

.item-dealers-name {
	width: 279px;
	position: relative;
	color:#d30b38;
	text-align:center;
	font-size:27px;
	font-weight:bold !important;
}

.item-dealers-price {
	width: 279px;
	position: relative;
	color:#d30b38;
	text-align:center;
	font-size:27px;
	font-weight:bold !important;
	letter-spacing:1px;
	line-height:25px;
}

.item-fuel-age {
	width: 279px;
	height:40px;
	position: relative;
	color:#818181;
	text-align:center;
	font-size:16px;
	letter-spacing:1px;
	line-height:18px;
}


.item-container-buttons-dealers{
	width: 279px;
	position: relative;
	text-align:center;
	margin:8px 0 0 0 ;	
}

#item-delears-button {
    display: inline-block;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow:    0 3px 0 #952013, 0 5px 10px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 3px 0 #952013, 0 5px 10px rgba(0, 0, 0, .3);
    box-shadow: 0 3px 0 #c952013, 0 5px 10px rgba(0, 0, 0, .3);
    transition: box-shadow .1s ease-in-out;
    font-size: 16px;
    color: #fff;
	outline:none;
}

#item-delears-button span {
    display: inline-block;
    padding: 12px 30px;
    background-color: #ec528d;
    background-image: linear-gradient(bottom, rgb(214,53,67) 0%, rgb(214,53,67) 100%);
	background-image: -o-linear-gradient(bottom, rgb(214,53,67) 0%, rgb(214,53,67) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(214,53,67) 0%, rgb(214,53,67) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(214,53,67) 0%, rgb(214,53,67) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(73,132,180) 0%, rgb(214,53,67) 100%);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    line-height: 1;
    -webkit-transition: background-color .2s ease-in-out, -webkit-transform .1s ease-in-out;
    -moz-transition: background-color .2s ease-in-out, -moz-transform .1s ease-in-out;
    -o-transition: background-color .2s ease-in-out, -o-transform .1s ease-in-out;
    transition: background-color .2s ease-in-out, transform .1s ease-in-out;
	 outline:none;
}

#item-delears-button:hover span {
    background-color: #d63543;
	 outline:none;
   
}

#item-delears-button:active, #item-delaers-button:focus {
    -webkit-box-shadow:    0 2px 0 #d63543, 0 12px 10px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 2px 0 #d63543, 0 12px 10px rgba(0, 0, 0, .3);
    box-shadow:    0 2px 0 #d63543, 0 12px 10px rgba(0, 0, 0, .3);
	 outline:none;
}

#item-delears-button:active span {
    -webkit-transform: translate(0, 4px);
    -moz-transform: translate(0, 4px);
    -o-transform: translate(0, 4px);
    transform: translate(0, 4px);
	 outline:none;	 
}


.item-container-buttons-proposta{
	width: 279px;
	position: relative;
	text-align:center;
	margin:0  50px 0 0;
	clear:both;
	top:75px;	
}

/******aqui acaba os mini carros******/


/******aqui começa o consorcio carros******/

.main-line-consorcio {
	width: 990px;
	position: relative;
	margin-right: auto;
	margin-left: auto;	
}

/******aqui acaba consorcio carros******/

/******aqui começa o serviço******/

.main-line-servico {
	width: 990px;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	display:table;
	
}

.main-block-servico{
	float: left;
	width: 470px;
	margin: 0 13px 0 0;	
}

.main-block-1{
	background-image:url(../img/img-service-on.png);
	width:470px;
	height:247px;
}

.main-block-2{
	background-image:url(../img/img-service-tw.png);
	width:470px;
	height:247px;
}

.main-block-express-service{
	width:990px;
	position:relative;
	top:13px;		
}
/******aqui acaba serviço******/

/******aqui começa enderço******/


.tabs-adress {
	width:950px;
	height:360px;
	position:relative;
	margin-left:0;
	margin-right:0;
	display:table;
	clear:both;
}
.tab{position:relative;}
.tab-painel{display:inline-block;min-height:150px;}
.tab-painel .tab-open{position:absolute;width:1px;height:1px;margin:-1px;padding:0;overflow:hidden;clip:rect(0,0,0,0);border:0;}
.tab-nav{cursor:pointer;font-size:18px; font-weight:bold; display:inline-block;padding:12px; width:473px; border-left: 5px solid #c0c0c0; background-color:#FFFFFF; color:#c0c0c0; outline: none;}
.tab-open,.tab-nav:hover,.tab-open:checked ~ .tab-nav{background-color:#eaeaea; border-left: 5px solid #A50002; background-color:#FFFFFF; color:#e93049; outline: none;}
.tab-inner{opacity:0;margin-top:20px;position:absolute;left:0;transition:opacity .1s;visibility:hidden;}
.tab-open:focus:checked ~ .tab-nav{outline:thin dotted}
.tab-open:checked ~ .tab-inner{opacity:100;visibility:visible;transition:opacity .6 ease;}
.container-block-tabs{
	width:950px;
	height:400px;
	position:relative;
	display:table;
	clear:both;
}
.block-tabs{
	position:relative;
	float:left;
	clear:right;
		
}
.img-border{
	border:7px solid #dddddd;
}

.line-block-tabs {
	width:600px;
	padding-left:10px;
	position:relative;
	display:table;
}

.text-line-block{
	font-size:40px;
	font-weight:bold;
	color:#ea0d2f;
	display:table;
}

.icon-img{
	float:left;
	clear:left;
}
.icon-adress {
	padding:10px;
	font-size:14px;
	color:#ea0d2f;
	font-weight:bold;
	
}
/******aqui acaba enderço******/

/********fim css home*******/

/*****sub paginas******/

.sub-banners {
	width:100%;
	position:relative;
	z-index:1 !important;
}

/******aqui começa carros*/
.banner-cars{
	position:relative;
	width:1555px;
	height:284px;
	margin-right: auto;
	margin-left: auto;	
}

.models-cars {
	position: relative;
	padding:10px;
	width: 990px;
	display: table;
	clear: both;
	margin-right: auto;
	margin-left: auto;
}

.container-models{
	width:950px;
	display:table;
	margin-right: auto;
	margin-left: auto;
	position:relative;
	clear:both;
	
}

.models-car-left{
	width:250px;
	float:left;
	clear:both;
	position:relative;
}

.container-models-left{
	width:120px;
	clear:both;
	padding:15px;
	position:relative;
}

.models-left-model{
	width: 250px;
	padding:10px;
	border: 1px dashed #d30b39;
	margin: 0 auto;
	font-size:28px;
	text-align:center;
	font-weight:bold;
	color:#a4052b;
	position:relative;
	top:40px;
	clear:both;
}

.models-left-prices{
	width: 250px;
	padding:13px;
	background-color:#d63544;
	position:relative;
	top:50px;
	border-radius:5px;
	font-size:30px;
	text-align:center;
	color:#FFFFFF;
	font-weight:bold;
	box-shadow: 0px 4px 1px #961320 ;
}

.models-car-right{
	width:661px;
	float:right;
	position:relative;
	top:-50px;
}

.model-mudar-cor{
	width: 250px;
	position:relative;
	display:table;
	top:65px;
	padding:5px 0 5px 0 ;
	clear:both;
}

.muda-cor{
	float:right;
	
}

.others-models{
	position:relative;
	width:980px;
	height:170px;
	margin: 0 auto;
	clear:both;
	top:-55px;

}

.container-others-models{
	position:relative;
	width:980px;
	margin:0 auto;
	clear:both;
}

.headline-other-models{
	width: 950px;
	background-color: inherit;
	display:table;
	color:#CD0003;
	font-style:italic;
	font-size:15px;
	font-weight:bold;
	text-transform: uppercase;
	border-bottom: 1px solid rgba(191,191,191,0.35);

}

.other-model{
	position:relative;
	width:220px;
	height:220px;
	border:1px dashed #949494;
	top:10px;
	float:left;
	margin:0 23px 0 0 ;

}

.img-other-model{
	width:200px;
	margin: 0 auto;		
}

.other-name-model{
	width:180px;
	height:40px;
	margin: 0 auto;
	color:#FFFFFF;
	text-align:center;	
}

.headline-other-dealers{
	position:relative;
	width:100%;
	border-top:1px solid #c0bebf;
	border-bottom:1px solid #c0bebf;	
	top:20px;
}

.headline-container-other-dealers{
	width:980px;
	padding:10px;
	color:#c60c35;
	font-size:20px;
	font-style:italic;
	margin: 0 auto;
	
}

.other-dealers {
	width:980px;
	margin:0 auto;
}


.model-img{
	width: 980px;
	position: relative;
	margin: 0 auto;
	top:-17px;
	clear:both;
}

.model-container-img{
	width:950px;
	position:relative;
	display:table;
}

.mc-colunn-img{
	width:470px;
	float:left;
}

.mc-colunn2-img{
	width:470px;
	height:272px;
	float:right;

}

.model-video {
	width:980px;
	position:relative;
	margin: 0 auto;
	top:-13px;
}

.model-video-container{
	width:950px;
	position:relative;
	
}

.model-tecnica {
	width:980px;
	margin: 0 auto;
	position:relative;
	/*top:-64px*/
}


.container-model-tecnica {
	width:950px;
	position:relative;

}

.table-legenda{
	border-top:1px dashed #7b7b7b;
	border-left:1px dashed #7b7b7b;
	border-right:1px dashed #7b7b7b;
	border-bottom:1px dashed #7b7b7b;
}

.table-legenda2{
	font-size:18px;
	color:#878585;
	font-style: italic;
}

.table-legenda-sub{
	border-left:1px dashed #7b7b7b;
	border-right:1px dashed #7b7b7b;
	border-bottom:1px dashed #7b7b7b;
}

.td-table-legenda{
	border-right:1px dashed #7b7b7b;
	text-align:center;
	width:50px;
	padding:8px;
	font-weight:bold;
	font-size:15px;
	color:#787878;
}

.td-table-sub{
	border-right:1px dashed #7b7b7b;
	text-align:center;
	width:317px;
	padding:8px;
	font-weight:bold;
	font-size:15px;
	color:#BE0003;
}
	
.td-table-sub2{
	border-right:1px dashed #7b7b7b;
	text-align:left;
	width:200px;
	padding:7px;
	font-size:14px;
	color:#030303;
}

.td-table-subs2{
	border-right:1px dashed #7b7b7b;
	text-align:center;
	width:200px;
	padding:7px;
	font-size:14px;
	color:#030303;
}

.td-table-negativo{
	border-right:1px dashed #7b7b7b;
	text-align:center;
	width:200px;
	padding:8px;
	font-weight:bold;
	font-size:22px;
	color:#FF0004;
}

.td-table-positivo{
	border-right:1px dashed #7b7b7b;
	text-align:center;
	width:200px;
	padding:8px ;
	font-weight:bold;
	font-size:22px;
	color:#098036;
}
	

/*******aqui acaba carros*****/

/*******form car************/

.form-car{
	width:100%;
	position:relative;
	border:1px solid #d6d6d6;
	top:-17px;
	clear:both;	
}


.container-form{
	width:900px;
	margin:0 auto;
	display:table;
}

.colunn-form-car{
	width:450px;
	float:left;
	display:table;
}

.colunn2-form-car{
	width:450px;
	float:right;
}

.contact-content-colunn2{
	position:relative;
	display:table;
	background-color:#e9e7e8;
	width:450px;
	height:80px;
	border:1px solid #D5D5D5;
	border-radius:5px;
	top:14px;
	margin:6px;		
}

.content-colunn2{
	width:450px;
	display:table;	
}

.icon-content-colunn2{
	background-color:#fe0000;
	width:110px;
	height:80px;
	float:left;
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
	padding:10px 0 0 34px;
}

.text-colunn2{
	font-size:16px;
	width:210px;
	float:left;
	text-align:center;
	font-style:italic;
	padding:15px 0  0 10px;
}

.button-collun2{
	width:100px;	
	float:left;
	padding:15px 0  0 10px;
}

.car{
	float:left;
	
	
}

.form-group2-car{
	display:table;
	width:420px;	
}

.form-group-car{
	display:table;
	width:460px;	
}

.form-control-name{
	width:420px;
	border:1px solid #BBBBBB;
	background-color:#FFFFFF;
	font-style:italic;
	color:#909090;	
}

.form-control-ddd{
	width:100px;
	border:1px solid #BBBBBB;
	background-color:#FFFFFF;
	font-style:italic;
	color:#5c5c5c;
	float:left;
}

.form-control-tel{
	width:129px;
	border:1px solid #BBBBBB;
	background-color:#FFFFFF;
	font-style:italic;
	color:#5c5c5c;
	float:left;
	margin-left:6px;
}


   
.selecione {
    font-size: 14px;
    color: #fff;
	margin:10px;
	
}

select {
	width:179px;
    display: inline-block;
    height: 37px;
    line-height: 28px;
    border: 1px solid #aaa;
    color: #555;
	margin-left:6px;
}

textarea{
	background-color:#F8F8F8;
	width:419px;
	height:150px;
	border: 1px solid #BBBBBB;
	
	 
}

.form-banner-container{
	width:450px;
}
	

/*******fim-form-car************/


/******página-de-seminovos********/
.b-infoBar {
	width:100%;
	position:relative;
	background-color:#dbdbdb;
	border-top:1px solid #FFFFFF;
	border-bottom:1px solid #FFFFFF;
}


.b-container-infoBar {
	width:980px;
	margin:0 auto;
	display:table;
	position:relative;
	background-color:#dbdbdb;
}

.b-infoBar-order{
	float:left;
	margin: 0 15px 0 0  ;
	color:#858585;
	border:1px solid #FF0004;	
}



/******fim-página-de-seminovos********/


/****fim-sub-páginas*****/


/********aqui-comeca o footer**********/
.footer {
	width: 100%;
	height:600px;
	display: table;
	position: relative;
	background-color: #d63543;
	top: 40px;
	border-bottom: 7px solid #B70414;
}
.container-footer {
	width: 990px;
	margin:0 auto;
	position: relative;
	display:table;
	padding: 10px 5px 0 0;
}

.block-footer {
	width: 990px;
	position: relative;
	display: table;
}
.colunn-block-footer{
	width: 320px;
	float: left;
	clear: right;
	padding:2px;
}
.footer-headline {
	font-size:25px;
	color:#FFFFFF;
}

.footer-sub-headline {
	font-size:18px;
	color:#FFFFFF;
}
.footer-social-media {
	width: 310px;
	
}
.icon-footer-media{
	width:310px;
	display:table;
	position:relative;
    top:15px;		
}

.icon-footer{
	float:left;
	height:45px;
	color:#FFFFFF;
}
	

/*******form-rodape*************/

form {
  background: none;
  margin: 10px auto 0;
  width: 310px;
}

input {
 background-color:#FFFFFF;
  display: block;
  font-size: 14px;
  width:310px;
  margin: 10px auto;
  padding: 10px 8px 8px 8px;
  border-radius: 6px;
  /*box-shadow: inset 0 1px 2px rgba(0,0,0, .55), 0px 1px 1px rgba(255,255,255,.5);*/
  border: 1px solid #bfbfbf;
  color:#6C6C6C;
}

input {
  opacity: 0.5;
}

input:hover,
input:focus {
  opacity: .7;
  color:#fff;
  border: 1px solid #08c;
   box-shadow: 0px 1px 0px rgba(255,255,255,.25),inset 0px 3px 6px rgba(0,0,0,.25);
}

input[type="text"]:focus,
input[type="password"]:focus {
  box-shadow: inset 0 1px 2px rgba(255,255,255, .35), 0px 1px 15px rgba(0,246,255,.5);
  border: 1px solid #08c;
  outline: none;
}

input[type="submit"] {
  appearance: none;
  opacity: .99;
  width:310px;
  background: #d63543;
  border: 1px solid #b70414;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

input[type="submit"]:hover {
  background: #860c16;
  width:310px;
  border: 1px solid #b70414;
  border-radius: 3px;
  text-shadow:0px 1px 1px rgba(0,0,0,.65);
  -webkit-transition: all 0.40s ease-out;
  transition: all 0.40s ease-out;
}

.footer-copyright {
	position:relative;
	color:#FFFFFF;
	height:20px;
	font-size:14px;
	text-align:center;
	top:19px;
}

